@page
@model IndexModel
@{
    ViewData["Title"] = "inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขนมออนไลน์ ที่ดีที่สุด</p>
    <img src="/images/FrLVFfrakAEtHwP.jpeg" width="50%"/>
</div>
